html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-container {
  border: 1px dotted red;
  width: 317px;
}

.profile-pic {
  height: 317px;
  width: 317px;
}